$module: .bottom-menu;

$(module) {

	&__item {
		display: inline-block;
		margin-right: 13px;

		&-link {
			font-family: Arial;
			font-size: 12px;
			color: $brown-text;

			&:hover {
				color: $black;
			}
		}

		&_active {
			$(module)__item-link {
				color: $black;
			}
		}

		&-link {
			color: $brown-link;
			text-decoration: none;
		}
	}
}