$module: .carousel;

$(module) {
    & * ::-webkit-scrollbar, 
    &::-webkit-scrollbar { 
        display: none;
        height: 0;
        width: 0;
        background: 0 0;
    }

	&_card,
    &_horiz {
		$(module) {
			&__wrapper {
    			scroll-behavior: smooth;
			}
		}
    }

    &_vert {
		$(module) {
			&__content {
    			scroll-behavior: smooth;
			    margin-top: -20px;
    			padding-top: 20px;
			}
		}
    }

    &_block {
		$(module) {
			&__content {
    			scroll-behavior: smooth;
			}
		}
    }

    &_card {
		$(module) {
			&__content {
    			scroll-behavior: smooth;
				overflow: hidden;
			}
		}
    }

}

.js-carousel-up_disabled,
.js-carousel-down_disabled {
	opacity: 0;
	z-index: -1;
}

.js-carousel-up_block_disabled,
.js-carousel-down_block_disabled,
.js-carousel-right_disabled,
.js-carousel-left_disabled {
	opacity: .3;
}

@media only screen and (min-width: $media-tablet-big) {
	$(module) {
		&_horiz {
			margin-right: -20px;

			$(module) {
				&__list {
					display: block;
				    white-space: nowrap;
			    }

				&__wrapper {
					margin-bottom: -10px;
			        overflow-x: scroll;
			        overflow-y: hidden;
				}

				&__content {
					overflow: hidden;
				}
			}
		}

		&_vert {
			overflow: hidden;

			$(module) {
				&__wrapper {
				}

				&__content {
					height: 100%;
					margin-right: -30px;
					overflow-x: hidden;
					overflow-y: scroll;
				}
			}
		}

		&_column {
            height: 350px;
		    margin-bottom: 0px;
		    margin-top: -20px;
		    width: 200px;
		    padding-top: 20px;
		}

		&_block {
			$(module) {
				&__wrapper {
					height: 330px;
				}
			}
		}
	}
}

@media only screen and (max-width: $media-tablet-big) and (min-width: $media-tablet) {
	$(module) {
		&_horiz,
		&_vert {
			$(module) {
				&__list {
					display: block;
				    white-space: nowrap;
			    }

				&__wrapper {
					margin-bottom: -10px;
			        overflow-x: scroll;
			        overflow-y: hidden;
				}

				&__content {
					overflow: hidden;
				}
			}
		}

		&_block {
			overflow: hidden;

			$(module) {
				&__wrapper {
					height: 270px;
				}

				&__content {
					height: 100%;
					margin-right: -30px;
					overflow-x: hidden;
					overflow-y: scroll;
				}
			}
		}
	}
}

@media only screen and (min-width: $media-tablet) {
	$(module) {
		&_block {
			overflow: hidden;

			$(module) {
				&__wrapper {
				}

				&__content {
					height: 100%;
					margin-right: -30px;
					overflow-x: hidden;
					overflow-y: scroll;
				}
			}
		}
	}
}

@media only screen and (max-width: $media-tablet) {
	$(module) {
		&_card,
		&_horiz,
		&_vert,
		&_block {
			$(module) {
				&__list {
					display: block;
				    white-space: nowrap;
			    }

				&__wrapper {
					margin-bottom: -10px;
			        overflow-x: scroll;
			        overflow-y: hidden;
				}

				&__content {
					overflow: hidden;
				}
			}
		}

		&_vert {
			margin-left: -15px;
			$(module) {
				&__content {
					margin-right: -30px;
				}

				&__wrapper {
					padding-left: 15px;
				}
			}
		}

		&_block,
		&_horiz {
			$(module) {
				&__content {
					margin-right: -20px;
				}
			}
		}

		&_card {
		   $(module) {
				&__content {
					margin-right: -20px;
				}
			}
		}

		&_card,
		&_horiz,
		&_block {
		    margin-left: -20px;
			$(module) {
				&__wrapper {
					padding-left: 20px;
				}
			}
		}
	}
}