.range-slider[type=range] {
	-webkit-appearance: none;
	width: 100%;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 60px;
		background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
		overflow: hidden;
		cursor: pointer;
		border-radius: 30px;
	}

	&::-webkit-slider-thumb {
		height: 60px;
		width: 60px;
		border-radius: 100%;
		border: 3px solid rgba(51,51,51,0.10);
		box-shadow: 0 0 0 4px #fff;
		cursor: pointer;
		-webkit-appearance: none;
	}

	&::-moz-range-track {
		width: 100%;
		height: 60px;
		background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
		overflow: hidden;
		cursor: pointer;
		border-radius: 30px;
	}

	&::-moz-range-thumb {
		height: 60px;
		width: 60px;
		border-radius: 100%;
		border: 3px solid rgba(51,51,51,0.10);
		cursor: pointer;
		-webkit-appearance: none;
		cursor: pointer;
	}

	&::-ms-track {
		width: 100%;
		height: 60px;

		background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
		overflow: hidden;
		cursor: pointer;
		border-radius: 30px;

		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	&::-ms-fill-lower {
		background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
		overflow: hidden;
		cursor: pointer;
		border-radius: 30px;
	}

	&::-ms-fill-upper {
		background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
		overflow: hidden;
		cursor: pointer;
		border-radius: 30px;
	}

	&::-ms-thumb {
		height: 60px;
		width: 60px;
		border-radius: 100%;
		border: 3px solid rgba(51,51,51,0.10);
		cursor: pointer;
		-webkit-appearance: none;
		cursor: pointer;
	}
}

.range-slider_sun[type=range] {
	&::-webkit-slider-runnable-track {
		background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
	}

	&::-moz-range-track {
		background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
	}
	&::-ms-track {
		background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
	}

	&::-ms-fill-lower {
		background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
	}

	&::-ms-fill-upper {
		background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
	}
}